@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IPS-Products</h1>
    <p class="lead">Bienvenidxs a la nueva experiencia online de productos de entretenimiento para mujeres, hombres y viceversa.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Adéntrate &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Opiniones</h2>
        <p>
            Podrás saber las opiniones de los demás usuarios acerca de productos que te interesen.
        </p>
        <p><a class="btn btn-default" href="http://localhost:57198/Opiniones">Ver opiniones &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conócenos </h2>
        <p>Si quieres saber más información sobre nosotros, pincha aquí.</p>
        <p><a class="btn btn-default" href="http://localhost:57198/Home/About">Acerca de &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>Envíanos un email ante cualquier duda que te surja.</p>
        <p><a class="btn btn-default" href="http://localhost:57198/Home/Contact">Enviar &raquo;</a></p>
    </div>
</div>